@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");

html,
body {
  background-color: #e5e5e5;
  font-family: "Arvo", serif;
}

a,
.btn-link {
  color: #40525b;
}

a:hover,
.btn-link:hover {
  color: #242d31;
  text-decoration: none;
}

.content {
  margin: 0 auto;
  max-width: 1450px;
}

.btn-primary {
  color: #fff;
  background-color: #40525b;
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled {
  background-color: #242d31 !important;
  border-color: transparent;
  box-shadow: none !important;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-row {
  color: #e5e5e5;
  display: flex;
  align-items: center;
}

.top-row h1 {
  font-size: 35px;
  text-align: center;
}

.main {
  flex: 1;
}

@media (min-width: 768px) {
  .main {
    margin-left: 250px;
  }
}

.main .top-row {
  background-color: #40525b;
  justify-content: center;
}

.main .top-row > a,
.main .top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.main .top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  background-image: linear-gradient(180deg, #546a76 0%, #7c9eaf 70%);
}

.sidebar .top-row {
  background-color: #40525b;
  padding: 20px;
}

.sidebar .navbar-brand {
  font-size: 1.1rem;
}

.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.sidebar .nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
  padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
  padding-bottom: 1rem;
}

.sidebar .nav-item a {
  color: #d7d7d7;
  border-radius: 4px;
  font-size: 20px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.sidebar .nav-item .btn-primary {
  display: block;
  font-size: 17px;
  height: inherit;
  padding: 0;
}

.sidebar .nav-item a span {
  font-size: inherit;
}

.sidebar .nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.sidebar .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type="checkbox"]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

.team-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-item {
  width: 33%;
  text-align: center;
  margin: 15px 0;
}

.team-item h2 {
  font-size: 40px;
}

.team-item h3 {
  margin: 0;
  margin-bottom: 20px;
}

.team-item .cta {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.team-item .cta button {
  margin: 5px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-item .cta button span {
  margin-right: 5px;
}

.card-title {
  font-size: 25px;
}

.card-img { 
  max-width: 400px;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.leaderboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1550px) {
  .leaderboard {
    min-height: 100vh;
  }
}

.leaderboard ol {
  list-style: none;
  counter-reset: counter;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.leaderboard ol li {
  counter-increment: counter;
  flex: 0 1 100%;
  margin-bottom: 20px;
  position: relative;
}

@media (min-width: 1550px) {
  .leaderboard ol li {
    margin-bottom: 0;
    flex: 0 1 33.333333%;
  }
}

.leaderboard ol li .inner-content {
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  margin: 0 15px;
}

.leaderboard ol li h3 {
  font-size: 30px;
  margin: 0;
  display: flex;
  align-items: center;
}

.leaderboard ol li h3:before {
  content: counter(counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.leaderboard ol li .sub-content {
  flex: 0 1 100%;
  font-size: 20px;
}

.leaderboard ol li .sub-content p {
  font-weight: bold;
  margin: 0;
  font-size: 30px;
}

.leaderboard ol li:nth-child(1) .inner-content {
  background: #efc839;
  border-radius: 5px;
  border: none;
}

.leaderboard ol li:nth-child(1):after {
  width: 35px;
  height: 35px;
  display: block;
  content: "";
  background-image: url("/files/trophy.png");
  background-size: cover;
  position: absolute;
  right: 25px;
  top: 60px;
}

.leaderboard ol li:nth-child(1) a {
  color: #242d31;
}

.leaderboard ol li:nth-child(2) .inner-content {
  background: #c0c0c0;
  border-radius: 5px;
  border: none;
}

.leaderboard ol li:nth-child(2) a {
  color: #242d31;
}

.leaderboard ol li:nth-child(3) .inner-content {
  background: #cd7f32;
  border-radius: 5px;
  border: none;
}

.leaderboard ol li:nth-child(3) a {
  color: #242d31;
}

.leaderboard h2 {
  padding: 10px 0;
  text-align: center;
  font-size: 45px;
}

.jumbotron {
  background-color: #c7d2d8;
  padding: 20px;
  position: relative;
  margin: 30px 15px 0 15px;
}

.jumbotron .pull-right {
  font-size: 40px;
  line-height: inherit;
  padding: 0;
  position: absolute;
  right: 15px;
  top: -4px;
}

.jumbotron .pull-right:hover {
  color: #242d31;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .main .top-row:not(.auth) {
    display: none;
  }

  .main .top-row.auth {
    justify-content: space-between;
  }

  .main .top-row a,
  .main .top-row .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  app {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .sidebar .top-row {
    width: 100%;
    z-index: 2;
  }

  .navbar-toggler {
    display: none;
  }

  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
