@page "/"
<div class="leaderboard">
    <div class="jumbotron" style="display:@jumboDisplay">
        <h1>Rowling for the Vandyken's<button class='btn btn-link pull-right' @onclick="@RemoveJumbo">x</button></h1>
        <p>Hosted by <a href="http://www.crossfitallendale.com/" target="_blank">Crossfit Allendale.</a> Athletes row with the goal of hitting 100 meters. However many meters over or under 100 is their score for the frame. Each person rows 10 frames. Lowest score wins.</p>
    </div>

    <div>
        <h2>Leaderboard</h2>
        <h3 class="lrl" style="display:@featureDisplay">Live Reload Enabled <span>@DateTime.Now.ToString("g")</span></h3>
        <LeaderboardList />
    </div>
</div>