@page "/"
<div class="leaderboard">
    <div class="jumbotron" style="display:@jumboDisplay">
        <h1>Digital Summit Dallas<button class='btn btn-link pull-right' @onclick="@RemoveJumbo">x</button></h1>
        <p>Highest scores for first and second place win a prize!</p>
    </div>

    <div>
        <h2>Leaderboard</h2>
        <LeaderboardList />
    </div>
    @* <h3 class="lrl" style="display:@featureDisplay">Last Update <span>@DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss tt")</span></h3> *@
</div>
