@page "/team-list"
@inject TeamService TeamService

<div class="team-list">
    @if (Teams != null)
    {
        @foreach (var team in Teams)
        {
            <TeamCard Team="@team" ReadOnly="true" />
        }
    }
</div>  