<div class="navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h1>CrossFit Rowling</h1>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <div class="top-row px-4">
        <h1>CrossFit Rowling</h1>
        @* <a href="/" target="_blank">About</a> *@
    </div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Add
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="team-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Teams
            </NavLink>
        </li>
        @* <li class="nav-item px-3">
            <a class="btn btn-primary btn-lg" href="#" role="button">Donate to #DebStrong</a>
        </li> *@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
